# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env
.env.*
kalshi-private-key.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# TypeScript
*.tsbuildinfo

.prettierrc
.prettierignore
